apiVersion: v1
kind: Service
metadata:
  name: {{ .Name }}
spec:
  type: ClusterIP
  selector:
    app.kubernetes.io/name: {{ .Name }}
  ports:
    - name: http
      port: 80
      targetPort: http
      protocol: TCP
